* {
    padding: 0;
    margin: 0;
}

body {
    background: #E3E3E3;
    font-family: 'Roboto', sans-serif;
    display: grid;
    place-content: center;
    margin-top: 25px;
}

/* FRAME APP */
.app {
    display: flex;
    flex-direction: column;
    width: 310px;
    min-height: 85vh;
    background: linear-gradient(180deg, #260D33 29.29%, #615375 100%);
    border-radius: 20px;
    justify-content: flex-start;
    padding: 20px;

}


/* TITLE APP */

h2 {
    font-weight: lighter;
    color: white;
    margin-bottom: 12px;
    font-size: 35px;
    margin-top: 25px;
    margin-left: 12px;
    text-align: start;
}
.listNegrita {
    font-weight: 500;
}

/* NEW TASK CONTAINER*/

.newTaskContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;
    justify-items: center;
}

.newTaskContainer input {
    border-radius: 10px;
    width: 220px;
    height: 30px;
    list-style: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.newTaskContainer input::placeholder {
    text-align: center;
    font-size: 16px;
}

.btnAddTask {
    display: flex;
    width: 40px;
    height: 40px;
    background-color:#D1313D;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 35px;
    cursor: pointer;
}

.btnAddTask:hover {
    background-color: #E5625C;
    scale: 1.10;
}

.instrucciones { 
    color: silver;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: lighter;
    text-align: center;
    margin-bottom: 6px;

}



.sinFinalizar {
    min-height: 30px;
    background-color: #E5625C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.sinFinalizar p {
    display: flex;
    width: 100%;
    color: white;
    cursor: pointer;
}

.sinFinalizar img {
    height: 18px;
    width: auto;
    margin-left: 3px;
}

.sinFinalizar img:hover {
    scale: 1.25;
    cursor: pointer;
}

.finalizada {
    min-height: 30px;
    background-color: #5CE57A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    text-decoration:line-through;
}

.finalizada p {
    display: flex;
    width: 100%;
    color: white;
    cursor: pointer;
}

.finalizada img {
    height: 18px;
    width: auto;
    margin-left: 3px;
}


.taskListContainer {
    padding: 10px;
    justify-content: center;
}

.app .background-modal {
    background: rgb(24, 21, 21);
    opacity: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.modalDeleteTask {
    z-index: 1;
    width: 262px;
    height: 52px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    opacity: 100%;
    border-radius: 8px;
    margin: auto;
    padding: 10px 0;
    
}

.buttons-modalDeleteTask {
    display: flex;
    margin: 5px;
}

.cancel-modalDeleteTask {
    width: 99px;
    height: 20px;
    background-color: #D1313D;
    border: none;
    padding: 4px;
    margin: 4px;
    font-size: 9.5px;
    border-radius: 8px;
    color: white;
}

.cancel-modalDeleteTask:hover {
    background-color: #9e1922;
}

.accept-modalDeleteTask {
    width: 99px;
    height: 20px;
    background-color: #5CE57A;
    border: none;
    padding: 4px;
    margin: 4px;
    font-size: 9.5px;
    border-radius: 8px;
    color: black;
}

.accept-modalDeleteTask:hover {
    background: #36944a;
}

.inactive {
    display: none;
}
